* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: tahoma;
  }
  
  .container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container > * {
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    background: #fafafa;
  }
  
  .image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .box1 .image { background-image: url("https://unsplash.it/300/200?1"); }
  .box2 .image { background-image: url("https://unsplash.it/300/200?2"); }
  .box3 .image { background-image: url("https://unsplash.it/300/200?3"); }
  .box4 .image { background-image: url("https://unsplash.it/500/200?4"); }
  .box5 .image { background-image: url("https://unsplash.it/800/200?5"); }
  
  .info {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .box1 > .info { justify-content: flex-end; align-items: center; }
  .box2 > .info { justify-content: center; align-items: flex-end; }
  .box3 > .info { justify-content: space-between; align-items: center; }
  .box4 > .info { justify-content: space-evenly; align-items: center; }
  .box5 > .info { justify-content: space-around; align-items: center; }
  
  .spacer {
    flex-grow: 1;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background: pink;
  }
  
  .box1 ul { justify-content: space-between; }
  .box2 ul { justify-content: flex-end; }
  .box3 ul { justify-content: space-evenly; }
  .box4 ul { justify-content: center; }
  .box5 ul { justify-content: space-around; }
  
  ul > * {
    background: lightpink;
    border: 1px solid firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
  }
  
  .box5 ul > * { flex-grow: 1; }
  
  button {
    background: firebrick;
    color: white;
    padding: 0.5rem;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  